<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />




    <application
        tools:ignore="MissingApplicationIcon"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidERestaurant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Gardez votre CategoryActivity si elle est utilisée dans votre application -->
        <activity
            android:name=".CategoryActivity"
            android:exported="false"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.AndroidERestaurant" />
    </application>

</manifest>
